{% extends 'base.html.twig' %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block body %}

    <div class="col-xl-12 col-md-8">
        <div class="card card-default card-shadow">
            <div class="card-header">
                <div class="card-title">
                    <h2>{{ tournament.name }}</h2>
                </div>
            </div>
            <div class="card-body">
                <p>Ce tournois aura lieu le {{ tournament.startingAt|date("d/m/Y") }} à {{ tournament.place }}.</p>
            </div>
        </div>
    </div>

    <a href="{{ path('tournament') }}" class="link-primary">Retour</a>

{% endblock %}
